body{
    background-color: cadetblue;
}
img.im{
    height: 350px;
    width: 350px;
    display: block;
  margin-left: auto;
  margin-right: auto;

}
.bg{
    border: 2 solid grey;
    border-radius: 10px;
    background-color: darksalmon;
    margin-left: auto;
    margin-right: auto;
   width: 50%;
}
.title{
  font-weight: bold;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;


}
.btn{
    background-color: cadetblue;
    margin-left: auto;
    margin-right: auto;
  width: 50%;
  display: block;
  border-radius: 10px;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.color{
    background-color: darksalmon !important;
}
a.btn{
    text-align: center;
}
.btne{
    background-color: cadetblue;
    margin-left: auto;
    margin-right: auto;
  width: 50%;
  display: block;
  border-radius: 10px;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.mrg{
    margin-left: 160px;
    font-weight: bold;
}
.bgg{
    border: 2 solid grey;
    border-radius: 10px;
    background-color: rgb(199, 196, 195);
    margin-left: auto;
    margin-right: auto;
   width: 50%;
}
